.title {
  font-size: 30px;
}

.machine-table {
  border: 3px solid brown;
  padding: 10px;
}

.section-table {
  border: 1px solid brown;
  padding: 10px;
}

.price {
  border: 2px solid brown;
  padding: 10px;
  font-weight: bold;
}

.turn {
  background-color: lightblue;
  padding: 10px;
  border: 2px solid brown;
  font-weight: bold;
}

.active {
  background-color: lightblue;
}

.expired-active {
  background-color: red;
}

.fine {
  background-color: green;
}

.expired {
  color: red;
}
