<h3>Sold Articles</h3>

<table class="table table-striped">
    <% @articles.each do |article| %>
      <tr>
        <td>
          <%= article.name %>
        </td>
        <td>
          <%= l(article.updated_at, format: :long) %>
        </td>
      </tr>
    <% end %>
</table>

<h4>Total Value of Sold Articles</h4>

<% total_value = 0 %>
<% @articles.each do |article| %>
  <% total_value += article.price %>
<% end %>
<%= number_with_precision(total_value/100.0, precision: 2) %>
